  @import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-size: contain;
    background-repeat: no-repeat;
    background: rgb(17, 17, 17);
    background: linear-gradient(0deg, rgba(17, 17, 17, 1) 0%, rgba(255, 109, 0, 1) 100%);
    height: 800px;
  }

  .head {
    margin: 0 5vw;
    padding: 2vh;
    background-color: #747272;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .head img {
    width: 6vh;
    height: 6vh;
    box-shadow: 0 0 20px white;
    border-radius: 50px;
  }

  .head h1 {
    font-size: 20px;
    font-family: 'Caveat';
  }

  .head div {
    text-align: center;
    font-size: 14px;
  }

  .produtos {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bx-in {
    background: rgb(255, 109, 0, 1);
    display: flex;
    margin-bottom: 4vh;
    border: none;
    box-shadow: 0 0 20px white;
    border-radius: 10px;
  }

  .bx-in :only-child {
    background: none;
    border: none;
  }

  .fotoCesta {
    margin-right: 3vh;
    width: 6vh;
    height: 6vh;
    box-shadow: 0 0 20px white;
    border-radius: 50px;
  }

  .menu {
    margin: 0 5vh;
  }

  .itens {
    text-align: center;
    color: black;
    font-size: 0.75rem;
    text-decoration: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .itens div {
    background-color: white;
    display: flex;
  }

  .itens div span {
    font-weight: bolder;
  }

  .itens div p {
    color: rgb(0, 0, 0);
    font-weight: 350;
  }

  .nomes {
    padding: 2vh;
    background-color: #747272;
    color: black;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .nomes h3 {
    font-size: x-large;
    font-family: 'Caveat';
  }

  .nomes a {
    text-decoration: none;
    margin: 1vh;
    padding: 1vh;
    background-color: rgb(255, 109, 0, 1);
    color: #000;
    border: none;
    border-radius: 10px;
  }

  .arcodeon {
    background: none !important;
    border: none !important;
  }
